.button {
    -fx-font-size: 11pt;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-text-fill: #333333;
}

.button:hover {
    -fx-background-color: #fafafa;
}

.choice-box {
    -fx-background-color: #ffffff; /* set the background color */
    -fx-font-size: 14px; /* set the font size */
    -fx-text-fill: #000000; /* set the text color */
    -fx-padding: 5px; /* set the padding */
    -fx-border-color: #cccccc; /* set the border color */
    -fx-border-radius: 5px; /* set the border radius */
}

.choice-box .list-cell {
    -fx-background-color: #ffffff; /* set the background color of each list cell */
    -fx-font-size: 14px; /* set the font size of each list cell */
    -fx-text-fill: #000000; /* set the text color of each list cell */
}

.choice-box .list-cell:hover {
    -fx-background-color: #f5f5f5; /* set the background color of the hovered list cell */
}
.progress-bar .track {
    -fx-background-color: #dcdcdc;
}

.progress-bar .bar {
    -fx-background-color: #0066cc;
}

.tab {
    -fx-background-color: #F8F8F8;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-font-size: 12pt;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: #FFF;
    -fx-border-color: #E0E0E0 #E0E0E0 #FFF #E0E0E0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px 5px 0 0;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab .tab-label {
    -fx-alignment: center;
}


.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-text-fill: #333333;
}

.combo-box:hover {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #999999;
}

.combo-box:pressed {
    -fx-background-color: #ECECEC;
    -fx-border-color: #666666;
}

.combo-box .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #333333;
}

.combo-box .list-cell:hover {
    -fx-background-color: #F4F4F4;
}

.combo-box .list-cell:even {
    -fx-background-color: #F4F4F4;
}

.combo-box .list-cell:odd {
    -fx-background-color: #FFFFFF;
}

.list-view {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell:filled:focused:selected {
    -fx-background-color: #d0d0d0;
}

.list-cell:filled:selected {
    -fx-background-color: #f0f0f0;
}

.date-picker {
  -fx-font-size: 14px;
  -fx-background-color: white;
  -fx-border-color: #CCCCCC;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
}

.date-picker .text-field {
  -fx-background-color: transparent;
}

.date-picker .arrow-button {
  -fx-background-color: #FFFFFF;
}

.date-picker .arrow {
  -fx-background-color: #333333;
}

.check-box {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.check-box .box {
  -fx-background-color: #FFFFFF;
  -fx-border-color: #CCCCCC;
  -fx-border-width: 1px;
}

.check-box:selected .box {
  -fx-background-color: #007ACC;
  -fx-border-color: #007ACC;
}

.check-box .mark {
  -fx-background-color: white;
}